/* particle-twister.mehlhase.info */
/* (c) Sascha Mehlhase - kontakt@mehlhase.info */
/* game idea: Sascha Mehlhase */
/* board design: Katarina Anthony and Sascha Mehlhase */
/* coding/PWA: Sascha Mehlhase */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant-emoji: text;
}

body {
  background-color: rgba(255, 255, 255, 1);
  font: 1.2rem sans-serif;
}

a {
  color: #000000;
}

.wrapper {
  /* This can be just any element with responsive W/H */
  min-height: 100vh;
  background-color: #eee;
/*  background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);*/
/*  background: radial-gradient(circle at center, rgba(255, 255, 255, 1) 0%, rgba(100, 100, 100, 1) 100%);*/
  background: linear-gradient(90deg,rgba(239, 80, 152, 1.0) 0%, rgba(127, 106, 175, 1.0) 25%, rgba(39, 170, 225, 1.0) 50%, rgba(57, 181, 74, 1.0) 75%, rgba(254, 240, 105, 1.0) 100%);
  position: relative;
}

.content {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  inset: 0;    /* or use: top:0; right:0; bottom:0; left:0;*/
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 9 / 16;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.content div {
  width: 100%;
  text-align: center;
}

.content > div {
  padding: 5px;
}

.fullwidth {
  width: 100%;
}

.content .row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.content .grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
}

div.point {
  cursor: pointer;
}

.credits {
  font-size: 1rem;
}

.credits a {
  text-decoration: none;
}

.small {
  font-size: 70%;
}

.version {
  font-size: 70%;
  color: #bbb;
}

.overlay_wrapper {
/*  background-color: rgba(255, 255, 255, 0.85);*/
  background: linear-gradient(90deg,rgba(239, 80, 152, 1.0) 0%, rgba(127, 106, 175, 1.0) 25%, rgba(39, 170, 225, 1.0) 50%, rgba(57, 181, 74, 1.0) 75%, rgba(254, 240, 105, 1.0) 100%);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 3px solid rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding: 3em;
  text-align: center;
}

.overlay .head {
  font-size: 150%;
  margin-bottom: 1em;
  text-decoration: underline;
  font-style: italic;
  font-variant: small-caps;
}

.overlay .limb, .overlay .label {
  font-size: 200%;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 2s;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, opacity 1s;
}
